<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="SchoolDBEntities" connectionString="metadata=res://*/Model.SchoolDataModel.csdl|res://*/Model.SchoolDataModel.ssdl|res://*/Model.SchoolDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SchoolDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SchooldDBEntities" connectionString="metadata=res://*/Model.SchoolDBModel.csdl|res://*/Model.SchoolDBModel.ssdl|res://*/Model.SchoolDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=test;database=schooldb;password=test&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SchoolDBEntities" connectionString="metadata=res://*/Model.SchoolDBModel.csdl|res://*/Model.SchoolDBModel.ssdl|res://*/Model.SchoolDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=test;database=schooldb;password=test; charset=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.17.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
</configuration>